:root {
  box-sizing: border-box;
  background-color: darkolivegreen;
  font-family: "Inter";
}

@font-face {
  font-family: "Inter";
  src: url("InterVariable.ttf");
}

body {
  margin: 0;
}

.project-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}

.project-link {
  border: 0.25rem solid lightgreen;
  background-color: darkgreen;
  color: #bcffad;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-link > * {
  margin: 0.25rem;
}

.body-box {
  text-align: center;
}

.title {
  color: #bcffad;
}

.nb-button {
  box-shadow: 0.4em 0.4em #001804;
  transition: 0.2s ease-in-out;
}

.nb-button:hover {
  transform: translate(0.4em, 0.4em);
  box-shadow: 0 0 #001804;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #001804;
}

.preview-img {
  width: 15rem;
  height: auto;
}

.tag-list {
  padding-left: 0;
  max-width: 20rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.tag {
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
}

.php-tag {
  background-color: slateblue;
  color: white;
}

.typescript-tag {
  background-color: royalblue;
  color: white;
}

.react-tag {
  background-color: skyblue;
  color: black;
}

.javascript-tag {
  background-color: yellow;
  color: black;
}

.express-tag {
  background-color: black;
  color: white;
}

.node-tag {
  background-color: yellowgreen;
  color: black;
}

.rust-tag {
  background-color: coral;
  color: black;
}

.python-tag {
  background-color: steelblue;
  color: white;
}

.fastapi-tag {
  background-color: lightseagreen;
  color: black;
}
